* {
    box-sizing: content-box;
}

header {
    background-color: rgb(175, 219, 218);
    height: 100px;
    width: 100%;
    margin-bottom: 50px;
}

header span {
    vertical-align: middle;

}
#content-block {
    padding: 0 5% 0 5%;
}

#header-block {
    text-align: center;
}

#content-inner-block {
    display:flex;
    flex-wrap: wrap;
}

.pizza-block {
    width: 20%;
    padding: 2.5%;
    display: inline-block;
    text-align: center;
}
.pizza-block img {
    width: 100%;
}

.pizza-block p {
    font-size:26px;
    font-weight:bold;
}

.pizza-block span {
    width:100%;word-wrap:break-word;
}

.width-94 {
    width: 94%;
}