* {
    box-sizing: content-box;
}

header {
    background-color: rgb(175, 219, 218);
    height: 100px;
    width: 100%;
    margin-bottom: 50px;
}

header span {
    vertical-align: middle;

}
#content-block {
    padding: 0 5% 0 5%;
}

#header-block {
    text-align: center;
}

#content-inner-block {
    display:flex;
    flex-wrap: wrap;
}

.pizza-block {
    width: 20%;
    padding: 2.5%;
    display: inline-block;
    text-align: center;
}
.pizza-block img {
    /*width: 100%;*/
    width: 215px;
    height: 160px;
}

.pizza-block p {
    font-size:26px;
    font-weight:bold;
}

.pizza-block span {
    width:100%;word-wrap:break-word;
}

.width-94 {
    width: 94%;
}

#pizza-detail-name {
    width:100%;
    font-weight:900;
}

.size-label{
    width:100px;
    background-color:red;
    display:inline-block;

}

.size {
    max-width: 100%;
    text-align: center;
    padding: 10px 10px;
    border: 2px solid #F7DA58;
    border-radius: 50px;
    transition: 0.5s ease;
}

.sizes-container {
    width: 392px;
    height: 47px;

}

.size-active {
    border-radius: 50px;
    transition: 0.5s ease;
    max-width: 100%;
    border: 2px solid #F7DA58;
    background-color: #F7DA58;
}

#success-popup {
    display: none;
    position: fixed;
    left: 30%;
    top: 10px;
    background-color: green;
    color: white;
    width: 35%;
    height: 50px;
    line-height: 50px;
    text-align: center;


}