{% extends 'base.html' %}

{% load static %}
    {% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% endblock extrahead %}

<!--<div id="section-pizza">-->
<!--    <span>-->
<!--        Пицца-->
<!--    </span>-->
<!--</div>-->

<!--<div id="pizza-container">-->
<!--    <div id="pizza-inner-container">-->
<!--        {% for pizza in pizzas %}-->
<!--            <div class="pizza-block">-->
<!--                <img class="pizza-image" src="{{ pizza.image.url }}"/>-->
<!--                <span class="pizza-name">{{pizza.name}}</span>-->
<!--                <p>{{pizza.price}}</p>-->
<!--                <p>{{pizza.size}}</p>-->
<!--                {% for topping in pizza.toppings.all %}-->
<!--                    {{ topping.name }}-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--</div>-->

{% block content %}

    <div id="header-block">
        <h1>Пицца</h1>
    </div>
    <div id="content-block">
        <div id="content-inner-block">
            {% for pizza in pizzas %}
                <div class="pizza-block">
                    <img src="{{pizza.image.url }}"/>
                    <p>{{pizza.name}}</p>
                    <span>
                        {% for topping in pizza.toppings.all %}
                            {{ topping.name }}

                        {% endfor %}
                    </span>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            data-pizza-name="{{ pizza.name }}"
                            data-pizza-id="{{ pizza.id }}"
                            data-pizza-price="{{ pizza.price }}"
                            data-pizza-sizes-list="{{ pizza.sizes_list }}"
                            data-pizza-size="{{ pizza.size }}">Заказать {{ pizza.price }}</button>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Order pizza</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="order-pizza-form" action="{% url 'order-pizza-form' %}" method="POST">
              {% csrf_token %}
              <input name="pizza_id" type="text" id="pizza_id" hidden>
              <div class="mb-3">
                <label for="pizza-name" class="col-form-label">Name:</label>
                <input name="pizza-name" type="text" class="form-control width-94" id="pizza-name" readonly>
              </div>
              <label for="size">Pick a size:</label>
              <select name="size" id="size"></select>
<!--              <div class="mb-3">-->
<!--                <label for="pizza-size" class="col-form-label">Size:</label>-->
<!--                <input name="pizza-size" type="text" class="form-control width-94" id="pizza-size" readonly>-->
<!--              </div>-->
              <div class="mb-3">
                <label for="pizza-price" class="col-form-label">Price:</label>
                <input name="pizza-price" type="text" class="form-control width-94" id="pizza-price" readonly>
              </div>
                <div class="mb-3">
                <label for="phone" class="col-form-label">Phone:</label>
                <input name="phone" type="text" class="form-control width-94" id="phone">
              </div>
                <div class="mb-3">
                <label for="client_name" class="col-form-label">Your Name:</label>
                <input name="client_name" type="text" class="form-control width-94" id="client_name">
              </div>
                <div class="mb-3">
                <label for="client_address" class="col-form-label">Your Address:</label>
                <input name="client_address" type="text" class="form-control width-94" id="client_address">
              </div>
                <div class="modal-footer">
            <button type="button" id="close-modal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" id="pizza-order-btn" class="btn btn-primary">Order</button>
          </div>
            </form>
          </div>

        </div>
      </div>
    </div>

    <script>
        var exampleModal = document.getElementById('exampleModal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
          // Button that triggered the modal
          var button = event.relatedTarget
          // Extract info from data-* attributes
          var name = button.getAttribute('data-pizza-name')
          var price = button.getAttribute('data-pizza-price')
          var pizzaId = button.getAttribute('data-pizza-id')
          var sizesList = button.getAttribute('data-pizza-sizes-list').split(" ")
          // Update the modal's content.
          var modalNameInput = exampleModal.querySelector('.modal-body input#pizza-name')
          var modalIdInput = exampleModal.querySelector('.modal-body input#pizza_id')
          var modalPriceInput = exampleModal.querySelector('.modal-body input#pizza-price')
          var modalSizeInput = exampleModal.querySelector('.modal-body input#size')

           $.each(sizesList, function (i, item) {
                $('#size').append($('<option>', {
                    value: item,
                    text : item
                }));
            });

          modalNameInput.value = name
          modalPriceInput.value = price
<!--          modalSizeInput.value = size-->
          modalIdInput.value = pizzaId
        })

    <!--    document.getElementById('order-pizza-form').addEventListener('submit', function(event){-->
            $('#order-pizza-form').submit(function(e){
            e.preventDefault()
            $.post({
                    url     : $(this).attr('action'),
                    type    : $(this).attr('method'),
                    dataType: 'json',
                    data    : $(this).serialize(),
                    success : function(data) {
                        console.log(data)
                    },
                    error   : function( xhr, err ) {
                        console.log(xht,err)
                    }
                });
         })

        var orderButton = document.getElementById('pizza-order-btn')
    <!--    orderButton.addEventListener("click", function () {-->
    <!--      var pizzaId = document.getElementById('pizza-id').value-->
    <!--      document.getElementById('order-pizza-form').submit()-->
    <!--      console.log(pizzaId)-->
    <!--      document.getElementById('close-modal').click()-->
    <!--    })-->
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
{% endblock content %}